@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(249, 249, 249);
    width: 100vw;
    overflow-x: hidden;
}
#typewriter-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #000;
}
p{
    font-size: 1.2rem;
    line-height: 22px;
    font-family: sans-serif;

}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
li, a{
    text-decoration: none;
    color: white;
    list-style: none;
}
.hero{
    padding: 20px;

}
.hero__image{
    border-radius: 10px;
    box-shadow:  4px 4px 8px #dfdbdb,
                -5px -4px 8px #bebebe;
}
.hero__image:hover{
    transform: scale(1.05);
}
header{
    background-color: rgba(59, 56, 56, 0.92);
    justify-content: space-between;
    padding: 10px;
    color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

header img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-weight: 800;
}
.profile__name{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.profile__name p{
    font-size: 14px;
}
.techstack__list{
    display: flex;
    width: 90vw;
    margin: 0 20px;
    padding: 20px;
    overflow-x: auto;
    white-space: nowrap;
    gap: 30px;
}
.techstack__item {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;

    border-radius: 20px;
}
.techstack__item img{
    width: 200px;
    height: 200px;
    object-fit: fill;
    border-radius: 10px;
    transition: transform .2s;
}
.techstack__item img:hover{
    transform: scale(1.1);
}
.navbar-footer__navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    gap: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: none;
}
.visible{
    display: flex;
}
#techstack{
    background-color: rgb(45, 45, 46);
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#techstack h2{
    color: white;
    font-weight: 800;
    font-size: 20px;
}
.contact-me{
    @apply bg-white p-5;
}
.contact-me h2{
    @apply font-extrabold text-center;
}
.contact-me-form{
    @apply flex flex-col gap-2.5;
}
.contact-me-form input{
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgb(25, 20, 20);
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #212529;
    padding: 20px;
}
.footer__nav{
    @apply flex flex-col items-center mr-10;
}
.footer__navigation{
    @apply flex items-baseline justify-around;
}
.footer__navigation2{
    @apply flex items-baseline justify-around;
}
.About-me{
    padding: 20px;
   color: #7e8285;
}
.footer__navigation ul li{
    padding: 5px;
    white-space: nowrap;

}
.footer__quick-links{
      transition: background-color 0.3s;
}
.footer__quick-links:hover{
    @apply bg-[#918888] text-[white];
}
.footer__navigation ul li a , .phone{
    color: #8c8f92;
}

.projects{
    @apply leading-[22px] p-5;
    font-family: sans-serif;
}
.projects h3{
    @apply m-auto;
}
.projects h2 {
    @apply text-center;
}
.projects img{
    @apply shadow-[4px_4px_6px_#d9d9d9,-4px_-4px_6px_#d9d9d9] rounded-[10px];
    background: #ffffff;
}
.soft-skills{
    padding: 20px;
}
.footer__nav-title{
    font-size: larger;
    color: white;
    font-weight: 600;
}
.resume{
    @apply flex flex-col justify-center items-center h-auto bg-[rgb(49,48,47)] mt-5 mb-0 mx-0;
}
.resume h2{
    @apply text-[white] font-extrabold text-xl;
}
.resume__text{
    @apply flex overflow-x-auto gap-5 w-[90vw] bg-[white] p-[30px] rounded-[20px]
}
.resume__text-item{
    @apply flex-[0_0_auto] w-[300px] shadow-[4px_4px_6px_#d9d9d9,-4px_-4px_6px_#d9d9d9] mx-0 my-[5px] p-5 rounded-[22px];
    background: #ffffff;
}
.footer__copy-right{
    @apply h-5 w-full text-[rgb(221,211,211)] tracking-[1px] text-center;
    font: 200 14px "Oswald",sans-serif;
}

address{
    @apply flex flex-col items-center text-[#6c757d] gap-[15px];
}
.footer__nav ul li a {
    color: #ffffff;
}
.footer__social-media{
    @apply text-center;
}
.footer__social-media-list{
    @apply flex flex-col items-center gap-2.5 mr-10 mt-[30px];
}
.footer__address span{
    @apply whitespace-nowrap;
}
.footer__social-media-list li a{
    @apply text-xl leading-10 block w-10 h-10 transition-all duration-[0.3s] text-white bg-[#1a1d20] rounded-[100%];
    outline: 0;
}
.submit{
    @apply bg-[#212529] text-[white];
}
.footer__dot{
    margin: 20px 0 0 0;
    color: #ffffff;
}
/* about page */
.certificates {
    @apply flex flex-col justify-center items-center p-5;
}
.certificates h3 , .projects h3{
    @apply text-[15px] w-fit bg-[black] font-extrabold text-[white] p-2.5 rounded-[10px];
}

/* resume page */

.resume__text{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.soft-skills__list{
    @apply flex flex-col gap-5 justify-center;
}
.skill-set{
    @apply w-[150px] bg-[white] shadow-[8px_8px_6px_#d4cdcd,-8px_-8px_6px_#d4cdcd] p-[5px] rounded-[15px] rounded-[10px];
}
.skill-set ul li {
    color: black;
    list-style: circle;
}
.soft-skills__group1, .soft-skills__group2{
    @apply flex justify-between text-[black];
}
.experience{
    @apply flex w-[90vw] overflow-x-auto;
}

.reason{
    @apply flex-[0_0_auto] w-[280px] shadow-[8px_8px_16px_#d9d9d9,-8px_-8px_16px_#d9d9d9] mx-0 my-5 p-5 rounded-[22px];
    background: #ffffff;
}
.hidden{
    display: none;

}
.soft-skills h4{
    font-weight: 800;
    font-size: 20px;
    text-align: center;
}
.footer__dot{
    text-align: center;
}
.more{
    @apply flex flex-col items-center w-screen;
}
.more p{
    @apply w-[90vw];
}
.more *{
    color: #1a1d20;
}
.certificates__item{
    @apply flex gap-[30px] flex-col justify-center items-center mx-0 my-5;
}

.reasons{
    @apply flex flex-col items-center;
}
.reasons>p{
    @apply w-[300px] h-40 shadow-[8px_8px_16px_#d9d9d9,-8px_-8px_16px_#d9d9d9] p-[30px] rounded-[22px];
    background: #ffffff;
}
.row{
    flex-direction: row;
}
.footer__about-me p{
    color: #8c8f92;
}


::-webkit-scrollbar {
    width: 5px; 
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


@media screen and (min-width: 600px) {
  .hero{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap : 40px;
  }
  .hero__image{
    width: 30%;
    height: auto;
  }
  .hero__text{
    width: 60%;
    padding: 30px;
  }
  .hidden{
    display: block;
  }
  .skill-set{
      width: 21%;
      padding: 30px;
  }
.skill-set h5{
    font-size: 20px;
}
.footer__dot{
    display: none;
}
footer{
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: baseline;
    padding:20px 80px;
}
.footer__social-media-list{
    flex-wrap: wrap;
}
.footer__copy-right {
    grid-column: 1 / -1; 
}
.projects__item{
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: auto;
    padding: 20px;
    margin: 5px 0 ;
    border-radius: 10px;
    background-color: white;
    box-shadow:  4px 4px 8px #dfdbdb,
                -5px -4px 8px #bebebe;

}
.projects__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.projects__list img{
    width: 100%;
    height: auto;
    border: none;
}
.project__list div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.certificate__one__item-detail{
    @apply flex flex-row-reverse justify-center items-center gap-5;
}
.certificate___two__item-detail{
    @apply flex justify-center items-center gap-5 text-[black] gap-5;
}
.certificate__one__item-detail img , .certificate___two__item-detail img{
    max-width: 50%;
}
.certificate__one__item-detail li , .certificate___two__item-detail li{
    color: black;
    list-style: circle;

}
.more p{
    width: 60vw;
}
.tab-hidden{
    display: none;
}
.reasons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 10%;
    
}
.reason{
    @apply w-[30%] break-words;
}
.reasons p{
    width: 100%;

}

.contact{
    @apply flex flex-row-reverse justify-center items-center gap-[10%] shadow-[8px_8px_16px_#d9d9d9,-8px_-8px_16px_#d9d9d9] m-10 px-0 py-10 rounded-[22px];
    background: #ffffff;
}
.projects__item {
    @apply flex flex-row gap-5 mx-0 my-[30px] px-[10%] py-5 border-[none];
}
.projects__item img{
    width: 50%;
    height: auto;
    border: none;
    object-fit: contain;
}

.item-2{
flex-direction: row-reverse;
}
.experience{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
   
}
.Exp{
    @apply flex flex-col items-center;
}
.resume__text-items{
    display: flex;
    flex-direction: row-reverse;
}
.resume__text-items .resume__text-item ,.informal-education .resume__text-item{
    @apply w-6/12 border-[none];
}
.informal-education{
    @apply flex justify-around items-center gap-5 mx-0 my-5;
}
.resume__content{
    margin: auto;
    
}
.resume__content-home{
    overflow-x: hidden;
}
.navbar-footer__navigation li a:hover{
color: #959ca3;
}
.projects img{
   box-shadow: none;
}
}
/* media query for desktop */
@media screen and (min-width: 968px) {
.fa-bars{
    display: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}

.navbar-footer__navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.tab-hidden{
    display: block;
}
}
.column{
    flex-direction: column;
}

.column img{
    width: 100%;
    height: 40vh;
    border: none;
    object-fit: contain;
}





